/* Common Styles For All */
body {
    font-family: 'Open Sans', sans-serif;
}

.bg-or {
    background-color: orangered;
}

.tx-or {
    color: orangered;
}

/* For Nav */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
}

.website-title {
    font-size: 45px;
}

nav li {
    margin-right: 40px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: grey;
    font-size: 20px;
    font-weight: 400;
}

nav button, .btn-mia {
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    font-weight: 700;
    padding: 18px 35px;
}

/* This is for the headers */
.header{
    background-color: #fff8f3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner img{
    width: 400px;
}
.banner-text{
    max-width: 500px;
}
.banner-text h4{
    font-size: 30px;
    color: gray;
}
.banner-text h2{
    font-size: 50px;
}
.banner-text p{
    font-size: 20px;
    color: gray;
}