/* Universal Style */
body {
    font-family: 'Open Sans', sans-serif;
}

/* Nav Styles */
.btn-primary {
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.text-primary {
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
}

.nav-name {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}
.header{
    background-color: #fff8f3;
}
/* Banner Styles */
.banner{
    padding: 0px 100px;
    display: flex;
    align-items: center;
}
.banner img{
    width: 400px;
}